.offer {
    padding: 220px 0 80px;
    background-color: #fff;
    @include mediaw(767px) {
        padding: 610px 0 80px;
    }
    @include mediaw(576px) {
        padding: 435px 0 40px;
    }
    .row {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        height: 330px;
        max-width: calc(50% - 15px);
        &:hover {
            .title {
                background-color: #0b436c;
                color: #fff;
            }
        }
        @include mediaw(576px) {
            max-width: initial;
            margin: 0 15px;
            height: 250px;
        }
        &:nth-child(2) {
            @include mediaw(576px) {
                margin-top: 15px;
            }
        }
        .image-block {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .title {
            position: absolute;
            bottom: 0;
            left: 10px;
            background-color: #fff;
            color: #0b436c;
            text-align: center;
            width: calc(100% - 20px);
            font-family: $fontProximaNovaBold;
            font-size: 30px;
            line-height: 50px;
            border-radius: 4px 4px 0 0;
            text-transform: uppercase;
            padding: 0 15px;
            transition: background-color .3s, color .3s;
        }
    }
}

.how {
    padding: 70px 0 0;
    background-size: cover;
    background-image: url(../img/elements/background-how.png);
    min-height: 576px;
    background-color: #f1f9ff;
    position: relative;
    overflow: hidden;
    @include mediaw(576px) {
        padding: 50px 0 20px;
    }
    &::before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/elements/header-figure.png);
        background-repeat: no-repeat;
        background-position: center calc(100% + 70px);
    }
    &__content {
        margin-top: 145px;
        position: relative;
        @include mediaw(991px) {
            margin-top: 15px;
        }
        .image-block {
            @include mediaw(991px) {
                margin-top: 30px;
            }
            @include mediaw(576px) {
                padding: 0 25px;
            }
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        .row {
            position: absolute;
            width: 100%;
            top: -130px;
            left: 0;
            @include mediaw(991px) {
                position: static;
            }
            div[class^="col-"]:first-child {
                display: flex;
                flex-direction: column-reverse;
                @include mediaw(991px) {
                    display: block;
                }
            }
        }
    }
    &__item {
        color: rgba(11, 67, 108, 0.7);
        padding-left: 75px;
        position: relative;
        max-width: 290px;
        &:hover::before {
            background-color: #0b436c;
        }
        @include mediaw(991px) {
            margin-top: 15px;
        }
        &::before {
            content: " ";
            display: block;
            width: 53px;
            height: 53px;
            border-radius: 50%;
            background-color: $colorGreen;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 5px;
            left: 0;
            background-size: 32px;
            transition: background-color .3s;
        }
        .title {
            font-size: 22px;
            line-height: 50px;
            text-transform: uppercase;
            font-family: $fontProximaNovaBold;
            color: rgba(11, 67, 108, 1);
        }
        &--first {
            transform: translateX(23px);
            @include mediaw(1199px) {
                transform: translateX(-22px);
            }
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work1.svg);
            }
        }
        &--second {
            transform: translateX(106px);
            @include mediaw(1199px) {
                transform: translateX(56px);
            }
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work2.svg);
            }
        }
        &--third {
            transform: translateX(215px);
            @include mediaw(1199px) {
                transform: translateX(165px);
            }
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work3.svg);
            }
        }
        &--fourth {
            transform: translateX(85px);
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work4.svg);
            }
        }
        &--fifth {
            transform: translateX(180px);
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work5.svg);
            }
        }
        &--sixth {
            transform: translateX(229px);
            @include mediaw(991px) {
                transform: initial;
            }
            &::before {
                background-image: url(../img/elements/work6.svg);
            }
        }
    }
}

.certificates {
    padding: 115px 0 50px;
    background-color: #fff;
    @include mediaw(576px) {
        padding: 40px 0 0;
    }
    &__slider {
        margin-top: 20px;
        @include mediaw(576px) {
            margin: 14px;
        }
        .slick-arrow {
            width: 14px;
            height: 22px;
            transition: background-color .3s;
            background-size: cover;
            z-index: 1;
            &.slick-prev {
                background-image: url(../img/elements/left-arrow-gradient.svg);
            }
            &.slick-next {
                background-image: url(../img/elements/right-arrow-gradient.svg);
            }
            &::before {
                display: none;
            }
            &:hover {
            }
        }
        .slick-list {
            margin: 0 -15px;
        }
    }
    &__slide {
        margin: 20px 15px 30px;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 5px 29px 0px rgba(0,0,0,0.07);
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.form {
    background-image: url(../img/elements/background-form.png);
    background-size: cover;
    padding: 10px 0;
    .section-title {
        color: #fff;
    }
    .container {
        padding: 55px 35px 70px;
        background-color: rgba(255,255,255,0.1);
        @include mediaw(576px) {
            padding: 30px 15px 50px;
        }
    }
    form {
        display: block;
        margin-top: 15px;
        input {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 3px;
            border: 1px solid #ebebeb;
            transition: border-color .3s;
            color: #282828;
            font-size: 14px;
            padding: 0 50px 0 15px;
            @include mediaw(767px) {
                margin-top: 15px;
            }
            &:focus {
                border-color: #02e57d;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #7e7e7e;
                font-size: 14px;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #7e7e7e;
                font-size: 14px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #7e7e7e;
                font-size: 14px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #7e7e7e;
                font-size: 14px;
            }
            &[name="name"], &[name="phone"] {
                background-repeat: no-repeat;
                background-position: calc(100% - 15px) center;
                background-size: 20px;
            }
            &[name="name"] {
                background-image: url(../img/elements/icon-user.svg);
            }
            &[name="phone"] {
                background-image: url(../img/elements/icon-phone.svg);
            }
        }
        .submit-overlay {
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            &::before {
                content: " ";
                display: block;
                width: 100%;
                height: 100%;
                background-color: $colorGreen;
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after {
                content: " ";
                display: block;
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                background-color: #02e57d;
                transition: left .5s, width .5s;
                z-index: 1;
            } 
            &:hover::after {
                left: 0;
                width: 100%;
            }
            input {
                border: none;
                font-family: $fontProximaNovaBold;
                color: #fff;
                background-color: transparent;
                padding: 0;
                margin-top: 0;
                position: relative;
                z-index: 2;
            }
        }
    }
}

.portfolio {
    padding: 65px 0 80px;
    background-color: #fff;
    .row {  
        @include mediaw(576px) {
            margin-top: 5px;
        }
    }
    @include mediaw(576px) {
        padding: 46px 0 56px;
    }
    &__item {
        margin-top: 30px;
        @include mediaw(576px) {
            margin-top: 15px;
        }
        .image-block {
            height: 245px;
            position: relative;
            @include mediaw(991px) {
                height: 200px;
            }
            @include mediaw(767px) {
                height: 245px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .title {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 70, 122, 0.5);
                opacity: 0;
                transition: opacity .3s;
                color: #fff;
                font-family: $fontProximaNovaBold;
                @include mediaw(767px) {
                    opacity: 1;
                } 
            }
            &:hover .title {
                opacity: 1;
            }
        }
    }
}

.partners {
    padding: 70px 0 80px;
    background-color: #f1f9ff;
    background-image: url(../img/elements/background-partners.png);
    background-size: cover;
    @include mediaw(576px) {
        padding: 50px 0 55px;
    }
    .row {
        margin-top: 30px;
        @include mediaw(576px) {
            margin-top: 21px;
        }
    }
    &__item {
        max-width: calc(25% - 10px);
        margin: 0.5px;
        background-color: #fff;
        @include mediaw(767px) {
            max-width: calc(50% - 1px);
        }
        @include mediaw(576px) {
            max-width: calc(50% - 1px);
        }
        .image-block {
            img {
                max-width: 100%;
            }
        }
    }
}

.map {
    position: relative;
    height: 510px;
    display: flex;
    align-items: center;
    &::before {
        content: " ";
        height: 100%;
        width: 395px;
        background: linear-gradient(to left, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        @include mediaw(991px) {
            display: block;
        }
        @include mediaw(768px) {
            display: none;
        }
    }
    @include mediaw(768px) {
        height: initial;
        display: block;
    }
    iframe {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: grayscale(100%);
        @include mediaw(991px) {
            transform: translateX(-150px);
        }
        @include mediaw(768px) {
            filter: initial;
            position: static;
            height: 400px;
            transform: none;
        }
    }
    &__form {
        background-color: #fff;
        padding: 20px 30px 30px;
        max-width: 350px;
        margin-left: auto;
        @include mediaw(991px) {
            position: relative;
        }
        @include mediaw(768px) {
            margin: 20px auto;
            box-shadow: 0 6px 20px 0 rgba(0,0,0,.13);
        }
        .title {
            font-family: $fontProximaNovaRegular;
            font-size: 25px;
            line-height: 26px;
            text-align: center;
            color: #0b436c;
            span {
                font-family: $fontProximaNovaBold;
            }
        }
        ul {
            list-style: none;
            li {
                color: #0b436c;
                font-family: $fontProximaNovaBold;
                font-size: 16px;
                line-height: 26px;
                margin-top: 5px;
                a {
                    padding-left: 25px;
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 16px;
                }
                &:first-child a {
                    background-image: url(../img/elements/icon-call-gradient.svg);
                }
                &:nth-child(2) a {
                    background-image: url(../img/elements/icon-map.svg);
                }
            }
        }
        form {
            display: block;
            input {
                display: block;
                width: 100%;
                height: 50px;
                margin-top: 20px;
                border-radius: 3px;
                border: 1px solid #ebebeb;
                transition: border-color .3s;
                color: #282828;
                font-size: 14px;
                padding: 0 50px 0 15px;
                &:focus {
                    border-color: #02e57d;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #7e7e7e;
                    font-size: 14px;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #7e7e7e;
                    font-size: 14px;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #7e7e7e;
                    font-size: 14px;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #7e7e7e;
                    font-size: 14px;
                }
                &[name="name"], &[name="phone"] {
                    background-repeat: no-repeat;
                    background-position: calc(100% - 15px) center;
                    background-size: 20px;
                }
                &[name="name"] {
                    background-image: url(../img/elements/icon-user.svg);
                }
                &[name="phone"] {
                    background-image: url(../img/elements/icon-phone.svg);
                }
            }
            .submit-overlay {
                position: relative;
                border-radius: 3px;
                overflow: hidden;
                margin-top: 20px;
                &::before {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: $colorGreen;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::after {
                    content: " ";
                    display: block;
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    background-color: #02e57d;
                    transition: left .5s, width .5s;
                    z-index: 1;
                } 
                &:hover::after {
                    left: 0;
                    width: 100%;
                }
                input {
                    border: none;
                    font-family: $fontProximaNovaBold;
                    color: #fff;
                    background-color: transparent;
                    padding: 0;
                    margin-top: 0;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}