@import 'normalize';

@import 'variebles';

@import 'fonts';
@import 'responce';
@import 'header';
@import 'home';
@import 'footer';

body {
    font-family: $fontProximaNovaLight;
    font-size: 18px;
    line-height: 22px;
    @include mediaw(576px) {
        font-size: 15px;
        line-height: 17px;
    }
}

#menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 777;
    display: none;
    align-items: center;
    cursor: pointer;
    @include mediaw(767px) {
        display: flex;
    }
    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: background-color .3s;
        &::before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -8px;
            left: 0;
            background-color: #fff;
            transition: transform .3s, top .3s;
        }
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -8px;
            left: 0;
            background-color: #fff;
            transition: transform .3s, bottom .3s;
        }
    }
    &.active span {
        background-color: transparent;
        &::before {
            transform: rotate(45deg);
            top: -0px;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: -0px;
        }
    }
}

.section-title {
    font-family: $fontProximaNovaBold;
    font-size: 35px;
    line-height: 50px;
    color: #0b436c;
    text-align: center;
    text-transform: uppercase;
    @include mediaw(576px) {
        font-size: 25px;
        line-height: 35px;
    }
}

.modal--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 999;
    .modal {
        text-align: center;
        padding: 40px 20px;
        width: initial;
        height: initial;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 300px;
        z-index: 1000;
        .modal--close {
            position: absolute;
            right: 10px;
            top: 10px;
            background-image: url(../img/elements/close.svg);
            background-size: cover;
            opacity: 0.75;
            width: 15px;
            height: 15px;
            padding: 2.5px;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .title {
            font-family: $fontProximaNovaBold;
            font-size: 20px;
        }
        .description {
            margin-top: 20px;
            font-size: 15px;
        }
    }
}